BASE_DOMAIN=YOUR_BASE_DOMAIN_HERE

# Cloudflare R2
CLOUDFLARE_ACCOUNT_ID = YOUR_ACCOUNT_ID_HERE
CLOUDFLARE_ACCESS_KEY = YOUR_ACCESS_KEY_HERE
CLOUDFLARE_SECRET_KEY = YOUR_SECRET_KEY_HERE
CLOUDFLARE_BUCKET_NAME = YOUR_BUCKET_NAME_HERE

# Spark
SPARK_MASTER_IP = YOUR_SPARK_MASTER_IP_HERE

# Kafka
KAFKA_EXTERNAL_HOSTNAME = YOUR_KAFKA_EXTERNAL_HOSTNAME_HERE
KAFKA_BOOTSTRAP_SERVERS = YOUR_KAFKA_BOOTSTRAP_SERVERS_HERE
KAFKA_INGESTION_TOPIC = YOUR_KAFKA_INGESTION_TOPIC_HERE
KAFKA_RESULTS_TOPIC = YOUR_KAFKA_RESULTS_TOPIC_HERE
KAFKA_GROUP_ID = YOUR_KAFKA_GROUP_ID_HERE